html,body{
	margin:0;
	padding:0;
	height:100%;
	font-family:Arial;
	text-shadow:1px 1px 1px #2E2E2E;
}
#wrapper{
	min-height:100%;
	position:relative;
}
#header{
	position:fixed;
	top:0px;
	width:100%;
	background:#ffab62;
	padding:20px;
	height:60px;
	font-size:46px;
	color:#FFFFFF;
	text-align:center;
}
.yourMessage{
	float:left;
	background-color:gray;
	color:white;
}
#footer{
	background:#ffab62;
	width:100%;
	height:145px;
	position:fixed;
	bottom:0;
	left:0;
}
#footer table{
	width:100%;
	height:100%;
}
#footer table tr td{
	padding:20px;
}
#footer table tr td input{
	width:100%;
	height:100px;
	padding:20px;
	font-size:40px;
	box-sizing:border-box;
	border-radius:10px;
	outline:none;
	border:1px solid #A4A4A4;
	color:#585858;
}
#footer table tr td input[type=submit]{
	cursor:pointer;
	background-color:#0174DF;
	color:#FFFFFF;
}
#footer table tr td input[type=submit]:hover{
	background-color:#2E9AFE;
}
#containerMessages{
	overflow:hidden;
	margin:20px;
	padding:20px;
	padding-top:120px;
	padding-bottom:150px;
}
#containerMessages li label{
	font-weight:bold;
}
#containerMessages li span{
	font-size:20px;
}
#containerMessages li{
	list-style:none;
	font-size:40px;
	margin-bottom:30px;
	max-width:80%;
	padding:20px;
	border-radius:20px;
	clear:both;
}
.meMessage{
	float:right;
	background-color:#FFFF00;
	color:#585858;
}